<div class="wrapper">
    <header class="wrapper__header">
        <a routerLink="/dashboard" class="wrapper__header__logo">
            <img src="/assets/images/Group.png" alt="logo-image">
        </a>
        <div class="wrapper__header__search">
            <input type="text" placeholder="Search">
        </div>
        <div class="wrapper__header__links">
            <a *ngIf="isArtist() && isLoggedIn()" [routerLink]="['/artist', username]">View Profile</a>
            <a *ngIf="!isArtist() && isLoggedIn()" [routerLink]="'/user/' + username">View Profile</a>


            <a routerLink="/login" *ngIf="!isLoggedIn()">Sign In</a>
            <a routerLink="/signup" *ngIf="!isLoggedIn()">Create Account</a>

            <a *ngIf="isArtist()" routerLink="/artist/create-track">Create Track</a>

            <div class="wrapper__header__links__menu">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
                    size="xlarge" shape="circle" (click)="menu.toggle($event)" />
                <p-tieredMenu #menu [model]="items" [popup]="true" />
            </div>
        </div>
    </header>
</div>