.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: #3f3d40;
    width: 100%;
    height: 140px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: row;

        width: inherit;

        &__logo {
            margin-left: 40px;
            width: 80px;

            img {
                width: 80px;
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            width: 600px;
            margin-right: 80px;

            a {
                font-family: Inter, sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 18px;

                color: #FFFFFF;
            }

            a:hover {
                color: #6A6A6A;
                transition: .5s;

                &__menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                }
            }
        }
    }
}

