<app-navbar></app-navbar>

<!-- Start Playlist Section -->

<div class="wrapper">
    <div class="wrapper__header">
        Playlists
    </div>
    <div class="wrapper__playlist">
        <div class="wrapper__playlist__block">
            <img src="/assets/images/no-image.jpeg" alt="no-image">
        </div>
        <div class="wrapper__playlist__block">
            <img src="/assets/images/no-image.jpeg" alt="no-image">
        </div>
        <div class="wrapper__playlist__block">
            <img src="/assets/images/no-image.jpeg" alt="no-image">
        </div>
        <div class="wrapper__playlist__block">
            <img src="/assets/images/no-image.jpeg" alt="no-image">
        </div>
        <div class="wrapper__playlist__block">
            <img src="/assets/images/no-image.jpeg" alt="no-image">
        </div>
        <div class="wrapper__playlist__block">
            <img src="/assets/images/no-image.jpeg" alt="no-image">
        </div>
    </div>
</div>

<!-- End Playlist Section -->