<div class="wrapper">
    <header>
        <div class="logo">
            <a routerLink="/dashboard"><img src="/assets/images/Group.png"></a>
        </div>
        <div class="search_box">
            <input type="search" placeholder="Search...">
        </div>
        <nav>
            <ul>
                <li><a *ngIf="username !== null">{{username}}</a></li>
                <li><a *ngIf="!isLoggedIn()" routerLink="/login">Sign In</a></li>
                <li><a *ngIf="!isLoggedIn()" routerLink="/register">Create Account</a></li>
                <li><a>Menu</a>
                    <ul class="submenu">
                        <li><a>Liked Tracks</a></li>
                        <li><a>Playlists</a></li>
                        <li><a>Settings</a></li>
                        <li><a (click)="logOut()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</div>