.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('/assets/images/create-track.png') no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container__header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 150px;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-family: Inter, sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #FFFFFF;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__field {
            min-width: 500px;
            justify-content: flex-start;

            input {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                min-width: 500px;
                height: 50px;
                margin-bottom: 40px;
                border-radius: 40px;
                border: none;
                background-color: #3F3D40;
                color: #FFFFFF;
                font-size: 20px;
            }

            p {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-family: Inter, sans-serif;
                font-weight: 400;
                font-size: 22px;
                color: #FFFFFF;
                letter-spacing: 5px;
            }
        }
    }

    &__album {
        display: flex;
        align-items: center;

        &__wrapper {
            min-width: 550px;
            height: 500px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #3F3D40;
            border-radius: 25%;

            p {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                text-transform: uppercase;
                font-family: Inter, sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: #FFFFFF;
            }

            input[type="file"] {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 300px;
                padding: 10px;
                border-radius: 300px;
                background-color: #3F3D40;
                cursor: pointer;
            }

            input[type="file"]::file-selector-button {
                margin-left: 40px;
                border-radius: 30px;
                border: none;
                background-color: #464347f5;
                cursor: pointer;
                padding: 10px;
                font-family: Inter, sans-serif;
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;
            }
        }
    }
}

.wrapper__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 50px;

    .container__button {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        .button__upload {
            min-width: 600px;
            margin-right: 250px;

            button {
                text-transform: uppercase;
                background-color: #3F3D40;
                font-size: 22px;
                font-weight: 500;
                font-family: Inter, sans-serif;
                font-weight: 400;
                width: 550px;
                height: 60px;
                border-radius: 40px;
                border: none;
                color: #FFFFFF;
            }

            input[type="file"] {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 300px;
                padding: 10px;
                border-radius: 300px;
                background-color: #3F3D40;
                cursor: pointer;
            }

            input[type="file"]::file-selector-button {
                margin-left: 40px;
                border-radius: 30px;
                border: none;
                background-color: #464347f5;
                cursor: pointer;
                padding: 10px;
                font-family: Inter, sans-serif;
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;
            }
        }

        .button__add {
            min-width: 300px;
            margin-right: 50px;

            button {
                width: 270px;
                height: 60px;
                border-radius: 30px;
                font-size: 20px;
                font-weight: 500;
                font-family: Inter, sans-serif;
                background-color: #3F3D40;
                letter-spacing: 4px;
                border: none;
                color: #FFFFFF;
            }

            button:hover {
                transition: .4s;
                color: #514d4d;
            }
        }
    }
}