.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    background-color: #8e8792;
    width: 100%;


    &__charts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: #3F3D40;
        border-radius: 15px;

        &__title {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: start;

            font-family: Inter, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #FFFFFF;

            margin-top: 10px;
            margin-left: 20px;
            margin-bottom: 10px;
            width: 1000px;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__media {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                padding: 10px;
                margin-right: 40px;

                &__info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;

                    text-decoration: none;

                    &__photo {

                        img {
                            width: 120px;
                            height: 120px;
                            border-radius: 10px;
                        }
                    }

                    &__title {
                        width: 100px;
                        height: 60px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        font-family: Inter, sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        color: #FFFFFF;

                        margin-top: 10px;
                    }
                }
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        margin-top: 30px;
        width: 1000px;

        &__artist {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;

            border-radius: 15px;
            background-color: #3F3D40;
            width: 400px;

            &__title {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                width: inherit;
                height: 50px;
                color: #FFFFFF;

                font-family: Inter, sans-serif;
                font-size: 16px;
                font-weight: 600;
            }

            &__block {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin-bottom: 15px;

                &__image {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100px;

                    img {
                        width: 80px;
                        border-radius: 10px;
                    }
                }

                &__name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    font-family: Inter, sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    color: #FFFFFF;

                    width: 140px;
                }
            }
        }

        &__about {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;

            background-color: #3F3D40;
            border-radius: 15px;
            margin-left: 20px;
            height: 240px;
            width: 600px;

            &__title {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                height: 80px;
                width: inherit;


                font-family: Inter, sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: #FFFFFF;
            }

            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                flex-direction: row;

                width: inherit;
                height: inherit;

                &__media {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;

                    width: inherit;

                    &__info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;
                        text-decoration: none;


                        &__photo {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            margin-bottom: 20px;

                            img {
                                width: 120px;
                                height: 120px;
                                border-radius: 10px;
                            }
                        }

                        &__track {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            flex-direction: column;

                            width: 130px;
                            margin-bottom: 10px;

                            &__title {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                text-decoration: none;

                                font-family: Inter, sans-serif;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 16px;

                                color: #FFFFFF;
                                margin-bottom: 8px;

                            }

                            &__artist {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                font-family: Inter, sans-serif;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 14px;

                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}