<div class="wrapper">
    <div class="wrapper__container">
        <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <h1 class="wrapper__container__header">Create Account</h1>
            <div class="input-box">
                <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
            </div>
            <div class="input-box">
                <input type="text" class="form-control" formControlName="last_name" placeholder="Last Name">
            </div>
            <div class="input-box">
                <input type="text" class="form-control" formControlName="username" placeholder="Username">
            </div>
            <div class="input-box">
                <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
            </div>
            <div class="input-box">
                <input type="text" class="form-control" formControlName="phone_number" placeholder="Phone Number">
            </div>
            <div class="input-box">
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="input-box">
                <input type="password" class="form-control" formControlName="password"
                    placeholder="Password Verification">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" formControlName="profile_type"> Are you an Artist?</label>
            </div>

            <div class="block">
                <button type="submit" class="btn">Start Listening</button>
            </div>
        </form>
    </div>
</div>