<div class="wrapper">
    <div class="wrapper__container">
        
        <div class="wrapper__container__block">
            <img class="wrapper__container__block__logo" src="/assets/images/Group.png" alt="Appelsin Logo">
            <div class="wrapper__container__block__title">Appelsin</div>
        </div>
        <div class="wrapper__container__block">
            <div class="wrapper__container__block__text"> Music from around the world </div>
            <div class="wrapper__container__block__text"> Mood and activity </div>
        </div>
        <div class="wrapper__container__block">
            <div class="wrapper__container__block__text"> Top Charts </div>
            <div class="wrapper__container__block__text"> Add Track </div>
        </div>
        <div class="wrapper__container__block">
            <div class="wrapper__container__block__text"> Review by genre </div>
            <div class="wrapper__container__block__text"> Artists </div>
        </div>
    </div>    
    <div class="wrapper__bottom">
        <div class="bottom__text">&#64; 2024 Appelsin music platform. All rights reserved.</div>
    </div>
</div>